<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8.1" />
      </system.Web>
  -->
	<system.web>
		<compilation debug="true" targetFramework="4.8.1"/>
		<pages controlRenderingCompatibilityVersion="4.0"/>
	</system.web>
	
	<system.webServer>
		<defaultDocument>
			<files>
				<clear/>
				<add value="index.aspx"/>
			</files>
		</defaultDocument>
	</system.webServer>
	<appSettings>
		<add  key="connectionString" value="Data Source=172.31.44.65;Initial Catalog=smartcis_ognp;Persist Security Info=True;User ID=ognp;Password=0290147"/>
	</appSettings>
</configuration>